.noticeListBody {
  position: relative;
}
/* .change {
  border: 1px solid red;
  width: 24px;
  height: 24px;
} */
/* .upBtn {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.btnList {
  position: absolute;
  top: 0;
  left: 326px;
} */
.listFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noticeListBody .full-list {
  border: 1px solid red;
  width: 320px;
  height: 650px;
  /* margin: 0 30px 0 30px; */
  margin-right: 30px;
  overflow: auto;
}
.noticeListBody .full-list::-webkit-scrollbar {
  display: none;
}
.noticeListBody .full-list .depth1 {
  display: flex;
  flex-direction: column;
}
.noticeListBody .full-list .depth1 .depth1Li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 60px;
  cursor: pointer;
  padding: 20px 15px;
}
.noticeListBody .full-list .depth1 .depth1Li.on {
  background-color: blue;
}
.noticeListBody .full-list .depth1 .depth1Li .list-left {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.noticeListBody .full-list .depth1 .depth1Li .list-right {
  /* figma에는 width70인데 그렇게하면 날씨 두줄됨. 체크필요 */
  width: 75px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.noticeListBody .full-list .depth1 .depth1Li .list-right .go-right {
  text-align: right;
}
.noticeListBody .choice-notice {
  border: 1px solid #b0becc;
  width: 770px;
  height: 650px;
  padding: 30px;
}
.noticeListBody .choice-notice .list-up {
  display: flex;
  justify-content: space-between;
}
.noticeListBody .choice-notice .list-up .strong {
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 50px;
  width: 500px;
}
.noticeListBody .choice-notice .list-up .right-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.noticeListBody .choice-notice .content {
  border: 1px solid black;
  margin-top: 10px;
  min-height: 480px;
  width: 100%;
}
.noticeListBody .choice-notice .viewList {
  justify-content: flex-start;
}
.noticeListBody .choice-notice .viewList .btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.nopage {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
