.resetPassword {
    background-color: #0043AF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.resetPasswordBox {
    width: 620px;
    height: 760px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetPasswordBody {
    width: calc(100% - 100px);
    height: calc(100% - 65px);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.resetPasswordTitleBox {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resetPasswordTitleBox>p {
    width: 100%;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #1F6DE2;
}
.resetPasswordTitleUnderline {
    width: 100%;
    height: 2px;
    background-color: #1F6DE2;
    border-radius: 1px;
}
.resetPasswordInformBox {
    width: 100%;
    height: 80px;
    background-color: #B0BECC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
}
.resetPasswordInformBox>p {
    font-weight: 350;
    font-size: 14px;
    color: #000000;
}
.resetPasswordImformImage {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
    margin-right: 10px;
}
.resetPasswordContentInputBox {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.resetPasswordContentTitleBox {
    width: 100px;
    height: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.resetPasswordContentTitleBox>span {
    font-weight: 700;
    font-size: 16px;
    color: #2E2E2E;
}

.resetPasswordEmailAuthCheckBox {
    width: calc(100% - 150px);
    height: 100%;
    display: flex;
    align-items: center;
}
.resetPasswordEmailAuthTextFieldBox {
    height: 100%;
    width: calc(100% - 140px);
}
.resetPasswordEmailAuthCheckButton {
    width: 120px;
    height: 100%;
    margin-left: 20px;
}
.resetPasswordButtonBox {
    width: 100%;
    height: 60px;
}