.modal {
    width: 430px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
}

.topArea {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0px 0px;
    background-color: #1F6DE2;
}

.topArea > p {
    width: 300px;
    height: 60px;
    margin: 10px 110px 10px 20px;
    font-size: 16px;
    line-height : 60px;
    color: #FFFFFF;
} 

.topArea > button {
    width: 32px;
    height: 32px;
    margin: 24px 24px 24px 54px;
    color: #FFFFFF;
}

.companyAddBody {
    width: 430px;
    height: 420px;
    margin-top: 30px;
    /* background-color: blue; */
}

.companyAddBody > ul > li {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.companyAddBody > ul> li > p {
    width: 120px;
    height: 50px;
    color: #2E2E2E; 
    font-weight: 700;
    background-color: #FFFFFF;
}

.companyAddBody > ul> li > input {
    width: 240px;
    height: 50px;
    margin-right: 30px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F1F4F8;
}

.typeButton {
    width: 240px;
    height: 50px;
    margin-right: 30px;
    background-color: blue;
}

.typeButton > button {
    border: 1px solid black;
    border-collapse: separate;
}

.typeButton > button:focus {
    background-color: aquamarine;
}

.typeButton > button:hover{
    color:blue;
}

.receiving {
    margin-right: 0;
}

.saveButton {
    width: 370px;
    height: 60px;
    margin: 100px 30px 20px 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 8px;
    background-color: #1F6DE2;
}

.saveButton > button {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;

}
