.closeButton {
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  background-color: #ababab;
  border-radius: 10px;
  color: white;
  font-style: italic;
  font-weight: 200;
  cursor: pointer;
}
.closeButton:hover {
  background-color: #898989;
}

.firstClick {
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  background-color: #fa9f98;
  border-radius: 10px;
  color: white;
  font-style: italic;
  font-weight: 200;
  cursor: pointer;
}
.firstClick:hover {
  background-color: #fac2be;
}

.secondClick {
  font-size: 14px;
  margin-left: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #fa9f98;
  border-radius: 10px;
  color: white;
  font-style: italic;
  font-weight: 200;
  cursor: pointer;
  background-color: #6699ff;
}
.secondClick:hover {
  background-color: #3caeff;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalWrap {
  width: 600px;
  height: fit-content;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.closeIcon {
  float: right;
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}
.X-Icon {
  color: red;
  font-size: 20px;
}
.contents {
  margin: 50px 30px;
}

/* header */
.modal > section form > header {
  position: relative;
  padding: 30px 0 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal > section form > header input {
  border: none;
  height: 50px;
  flex: 1;
}
.modal > section form > header button {
  width: 32px;
  font-size: 21px;
  font-weight: 700;
}
/* main */
.modal > section form > main {
  height: 420px;
  width: 540px;
}
.modal > section form > main textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #1f6de2;
  padding: 10px;
}
/* footer */
.modal > section form > footer {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}
.modal > section form > footer .checking {
  display: flex;
  align-items: center;
}
.modal > section form > footer input {
  width: 24px;
  height: 24px;
}
.modal > section form > footer .close {
}
.modal > section form > footer .error {
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
