/* header */
.modal > section form > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2px 0px 26px;
}
.modal > section form > header input {
  border: none;
  height: 32px;
  flex: 1;
}
.modal > section form > header .close {
  width: 32px;
  height: 32px;
  font-size: 21px;
  font-weight: 700;
}
/* main */
.modal > section form > main {
  height: 420px;
  width: 540px;
}
.modal > section form > main textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}
.modal > section form > main textarea:focus {
  border: 1px solid #1f6de2;
  outline: none;
}
/* footer */
.modal > section form > footer {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}
.modal > section form > footer .checking {
  display: flex;
  align-items: center;
}

/* checkbox css 작업 */
.modal > section form > footer input[type="checkbox"] {
  position: absolute;
}
.modal > section form > footer input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
}
.modal > section form > footer input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #1f6de2;
  border-radius: 6px;
  background-color: #e2f1ff;
}
.modal > section form > footer input[type="checkbox"]:checked + label:before {
  background-color: #1f6de2;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
