.header{
  width: calc(100vw - 280px);
  display: flex;
  justify-content: center;
}
.main {
  /* border-bottom: 완성 후 제거할 것 */
  height: 180px;
  /* padding: 45px 30px; */
  width:1350px;
  padding:45px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainTop > h2 {
  font-size: 25px;
  font-weight: 700;
}
.mainTop > p {
  margin-top: 10px;
}

/* noticList page's header */
.searchBox {
  width: 340px;
  height: 50px;
  background-color: #f1f4f8;
  /* position: absolute;
  top: 40px;
  right: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBox > input {
  height: 100%;
  border: none;
  background: none;
  padding: 16px 17px;
}
.searchBox > div .close {
  background-image: url(../../../assets/image/close.png);
  background-size: cover;
}
.searchBox > div .search {
  background-image: url(../../../assets/image/search.png);
  background-size: cover;
  margin: 0px 13px 0px 6px;
}
