.mainHeader {
    height: 180px;
    width: 100vw;
    margin-left: 290px;
}
.headerTitle {
    padding-top: 40px;
    font-size: 25px;
    font-weight: 700;
    color: #2e2e2e;
}

.headerDesc{
    font-size: 14px;
    font-weight: 350;
    color: #2e2e2e;
}