.textButton {
    font-size: 14px;
    color: #1F6DE2;
    font-weight: 400;
    text-decoration: none;
    margin: 8px;
    font-family: 'Noto Sans KR', sans-serif;
}

.textButton:hover {
    color: #1957B5;
    font-weight: 700;
}