.textButton {
    font-size: 16px;
    color: #1F6DE2;
    font-weight: 600;
    text-decoration: none;
    margin: 8px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}

.warningButton {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin: 8px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #E21F1F;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}

.warningButton:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: #F2F9FF;
    margin: 8px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #E21F1F;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}

.textButton:hover {
    color: #1957B5;
    background-color: #F2F9FF;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}

.textButton:disabled {
    cursor: not-allowed;
}

.warningButton:disabled {
    cursor: not-allowed;
}