.documentReadyPage {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    /* overflow-y: scroll; */
}

.documentReadyInfoSection {
    width: 55%;
    min-width: 540px;
    max-width: 780px;
    /* height: 720px; */
    display: flex;
}

.documentReadyForm {
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

.documentReadyForm>li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.documnetReadyInfoTitleBox {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

.documnetReadyInfoTitleBox>span {
    font-weight: 700;
    font-size: 16px;
    color: #2E2E2E;
}

.documentTypeBox {
    width: 120px;
    height: 50px;
   border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F4F8;
    border: 1px solid #1F6DE2;
    cursor: pointer;
}

.documentTypeBox>span {
    color: #1F6DE2;
    font-size: 16px;
    font-weight: 400;
}

.selectedDocumentTypeBox {
    width: 120px;
    height: 50px;
    border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F6DE2;
    border: 1px solid #1F6DE2;
    cursor: pointer;
}

.selectedDocumentTypeBox>span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.outputDocumentTypeBox {
    width: 120px;
    height: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F4F8;
    border: 1px solid #1F6DE2;
    cursor: pointer;
}

.outputDocumentTypeBox>span {
    color: #1F6DE2;
    font-size: 16px;
    font-weight: 400;
}

.selectedOutputDocumentTypeBox {
    width: 120px;
    height: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F6DE2;
    border: 1px solid #1F6DE2;
    cursor: pointer;
}

.selectedOutputDocumentTypeBox>span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.documentDateInputBox {
    background-color: #F1F4F8;
    width: calc(100% - 200px);
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.documentDateInputButtonBox {
    width: 24px;
    height: 24px;
    background: url('../../../assets/images/calendar.png') no-repeat 97% 50%/24px #F1F4F8;
}

.documentDateInputButton {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.documentDateInputButton::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.documentPartnerInputBox {
    background-color: #F1F4F8;
    width: calc(100% - 200px);
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.documentPartnerInputBox>span {
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 400;
}

.documentPartnerInputEmptyBox {
    background-color: #F1F4F8;
    width: calc(100% - 200px);
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
.documentPartnerInputEmptyBox>span {
    color: #7A7A7D;
    font-size: 16px;
    font-weight: 400;
}

.documentProductInputBox {
    background-color: #F1F4F8;
    width: calc(100% - 200px);
    height: 550px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
.documentProductInputBox>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyDocumentProductPlaceHolder {
    color: #7A7A7D;
    font-size: 16px;
    font-weight: 400;
}

.documentProductInputBox>ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll;
    margin: 0px;
}

.settedDocumentProductList {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.documentProductItemSection {
    display: flex;
    flex-direction: column;
}

.documentProductName {
    font-size: 16px;
    font-weight: 400;
    color: #2E2E2E;
}

.documentProductCode {
    font-size: 12px;
    font-weight: 350;
    color: #1F6DE2;
}

.documentProductInputCount {
    font-size: 16px;
    font-weight: 400;
    color: #1F6DE2;
    text-align: right;
}
.documentProductOutputCount {
    font-size: 16px;
    font-weight: 400;
    color: #D43D3D;
    text-align: right;
}

.documentProductPrice {
    font-size: 14px;
    font-weight: 350;
    color: #7A7A7D;
    text-align: right;
}

.saveDocumentButtonBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.saveDocumentButton {
    width: 180px;
    height: 50px;
}

.removeDocumentProduct {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
}
.removeDocumentProduct:hover {
    background-color: #F2F9FF;
    border-radius: 12px;
}

.documentReadyDetailSection {
    width: 45%;
    min-width: 320px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #B0BECC;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 10px;
    min-height: 800px;
}

.documentProductSearchBox {
    height: 50px;
    width: calc(100% - 30px);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.documentProductListSection {
    width: calc(100% - 30px);
    height: calc(100% - 70px);
    display: flex;
}

.documentProductListSection>ul {
    width: 100%;
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll;
}
.documentProductListSection>ul>li {
    width: calc(100% - 12px);
    padding-left: 12px;
}
.documentProductListSection>ul>li:hover {
    background-color: #F2F9FF;
    border-radius: 8px;
}

.documentProductListItem {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.documentProductListItemImage {
    width: 54px;
    height: 54px;
    border: 1px solid #B0BECC;
    border-radius: 8px;
}

.documentProductListItemName {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.documentProductListItemInfoButton {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;
}

.documentProductListItemAddButton {
    width: 24px;
    height: 24px;
    margin-left: 6px;
    margin-right: 8px;
    cursor: pointer;
}