/* sidebar 공통.css */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 280px;
  /* border-right: 1px solid black; */
  /* border-right: 완성 후 제거할 것 */
}
.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

/* 로고부분.css */
.head > h1 {
  width: 100%;
  margin-top: 45px;
}
.head > h1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head > h1 a img {
  margin-right: 10px;
}
.head > h1 .title > h2 {
  font-size: 20px;
  font-weight: 500;
}
.head > h1 .title > h2:after {
  display: block;
  clear: both;
  border-bottom: 2px solid orange;
  content: "";
}
.head > h1 .title > p {
  font-weight: 350;
}
.head > h3 {
  font-size: 30px;
  margin: 10% 0;
}

/* useinfo 부분.css */
.head > .userinfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 31px;
}
.head > .userinfo a {
  background-color: inherit;
  border: 1px solid #1f6de2;
  font-size: 10px;
  padding: 5px 14px;
}

/* 네비.css */
.mainNav {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.depth1 {
  /* height: 100vh; */
}
.depth1 > li {
  margin-bottom: 5px;
  width: 220px;
  border-radius: 8px;
}
.depth1 > li a {
  border-radius: 8px;
}
.depth1 > li > a > p {
  padding: 13px 0;
}
.depth1 > li:hover > a {
  transition: all 0.1s;
  background-color: #f2f9ff;
  border-radius: 8px;
}
.depth1 > li:hover > a > .emo {
  /* display: none; */
  filter: none;
}

/* depth1 클릭 시 작업 (depth2보이기, 배경주기) */
.depth1 > li:last-child {
  margin-bottom: 0;
}
.depth1 > li.on {
  height: 172px;
  background-color: #e2f1ff;
  border-radius: 8px;
}
.depth1 > li.on .liA {
  background-color: #e2f1ff;
}
.depth1 > li.on .liA .emo {
  filter: none;
}
.depth1 > li.on .depth2 {
  display: block;
}

/* .depth2작업 */
.depth2 {
  display: none;
  border-radius: 0 0 8px 8px;
}
.depth2 li {
  height: 40px;
  position: relative;
}
.depth2 li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 54px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.depth2 li > a p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.depth2 li > .btnactive {
  color: #1f6de2;
  position: relative;
}

/* 네비메뉴 공통작업 */
.liA {
  display: flex;
  align-items: center;
}
.emo {
  margin: 0 15px;
  filter: invert(1) brightness(0);
}
.noShow {
  display: none;
}
.show_arrow {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* 반응형 화면 구현 */
/* @media screen and (max-width:950px){
    .sidebar {width:80px;}
    h1{margin-bottom:20%;}
    h3{display:none;}
    .liA{
        display:flex;
        justify-content: center;
        flex-direction:column;
    }
    .liP{display:none;}
} */

#selected {
  color: red;
}
