.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 240px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

p {
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #2E2E2E;
}

.company {
    display: block;
    margin-top: 45px;
    width: 100%;
}

.companyLogo {
    display: inline-block;
    width: 50px;
    height: 61px;
}

.companyInfo {
    width: 150px;
    display: inline-block;
}

.companyInfo>hr {
    border: 1px solid #F96D39;
    padding: 0%;
    margin: 0%;
    margin-bottom: 5px;
}

.companyName {
    font-weight: 500;
    font-size: 20px;
    display: inline;
}

.productName {
    font-weight: 350;
    font-size: 14px;
    display: inline;
}

.user {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color: #F1F4F8;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.user:hover {
    background-color: #C9D5E1;
}

.userSpaceUserArea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.clickedUser {
    width: 100%;
    height: 140px;
    margin-top: 30px;
    background-color: #F1F4F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

.clickedUser:hover {
    background-color: #C9D5E1;
}

.clickedUserSpaceButtonArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.userName {
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-left: 15px;
}

.userNameSufix {
    font-size: 14px;
    font-weight: 350px;
    margin-left: 8px;
}

.orangeFlag {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #F96D39;
    margin-right: 15px;
}

.logoutButton {
    width: calc(100% - 30px);
    height: 32px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
    background-color: #1F6DE2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoutButton>span {
    color: #FFFFFF;
    size: 12px;
    font-weight: 500;
}
.changePasswordButton {
    width: calc(100% - 30px);
    height: 32px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #1F6DE2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changePasswordButton>span {
    color: #FFFFFF;
    size: 12px;
    font-weight: 500;
}

.menu {
    width: 100%;
    margin-top: 45px;
}

.menu>ul {
    width: 100%;
    height: auto;
    display: block;
    list-style: none;
    padding-left: 0px;

}

.menu>ul>li {
    width: 95%;
    text-decoration: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.menu>ul>li:hover {
    cursor: pointer;
}

.menu ul>li>a {
    text-decoration: none;
}

.menuBox:hover {
    background-color: #F2F9FF;
    border-radius: 8px;
}

.selectedMenuBox {
    background-color: #e2f1ff;
    border-radius: 8px;
}

.menuImage {
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: auto;
}

.menuImage>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuText {
    margin-left: 15px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

.selectedMenuText {
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #1F6DE2;
    vertical-align: top;
}

.subMenu {
    width: 100%;
    height: auto;
    display: block;
    list-style: none;
    padding-left: 0px;
    padding-bottom: 8px;
}

.subMenu>li {
    width: 95%;
    height: 40px;
    text-decoration: none;
    text-align: start;
}

.subMenuItem {
    background-color: #e2f1ff;
    width: 95%;
    height: 40px;
    border-radius: 8px;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

.subMenuItem:hover {
    background-color: #F2F9FF;
}

.subMenuImage {
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
}

.subMenuImage>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subMenuText {
    margin-left: 15px;
    display: inline;
    text-decoration: none;
}

.selectedSubMenuText {
    margin-left: 15px;
    display: inline;
    text-decoration: none;
    color: #1F6DE2;
}